body {
    margin: 0px;
    padding: 0px;
    background-color: #D1EDFF;
    height: 120%;
}

#main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#onion {
    position: absolute;
    top: 14%;
    left: -28%;
    transition: all .9s ease-in;
}

#peppermint {
    position: absolute;
    top: -14%;
    left: -5%;
    transition: all .8s ease-in;
    transition-delay: .15s;
}

#flour {
    position: absolute;
    top: -30%;
    left: 20%;
    transition: all .7s ease-in;
    transition-delay: .1s;
}

#gradient {
    position: absolute;
    top: 45%;
    left: -30%;
    transition: all .7s ease-in;
    transition-delay: .05s;
}

#garlic {
    position: absolute;
    top: 55%;
    left: -20%;
    transition: all .8s ease-in;
    transition-delay: .1s;
}

#pappers {
    position: absolute;
    top: 80%;
    left: -25%;
    transition: all .8s ease-in;
    transition-delay: .1s;
}

#chili {
    position: absolute;
    top: 50%;
    left: -50%;
    transition: all .9s ease-in;
    transition-delay: .15s;
}

#tomato {
    position: absolute;
    top: -2%;
    left: -40%;
    transition: all 1s ease-in;
    transition-delay: .15s;
}

#cheese {
    position: absolute;
    top: 95%;
    left: 5%;
    transition: all .7s ease-in;
    transition-delay: .15s;
    transform: rotate(15deg);
}