body {
  margin: 0px;
  padding: 0px;
}

.main {
  width: 100%;
  height: 100vh;
  background: linear-gradient(80deg, #110e1f, #1b1730);
  position: fixed;
  top: 0px;
  left: 0px;


}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.text {
  color: transparent;
  background-image: url(bg1.jpg);
  background-size: 100% 100%;
  background-position: center;
  font-family: Faster One;
  font-size: 80px;
  text-align: center;
  transform: rotate(-5deg);
  color: #00b7c2;
  background-clip: text;
  -webkit-background-clip: text;
  pointer-events: none;
  animation: anim1 2s infinite, anim2 10s forwards;
}

.title {
  margin-top: .8em;
  font-family: monospace;
  font-size: 12px;
  color: white;
  letter-spacing: 5px;
}

.bar {
  width: 80px;
  height: 2px;
  margin-top: .8em;
  background-color: #282246;
  z-index: 999;
}

#fill {
  width: 0%;
  height: 100%;
  background-color: white;
  position: relative;
  top: 0px;
  left: 0px;
}

@keyframes anim1 {
  0% {
    background-image: url(bg1.jpg);
  }

  10% {
    background-image: url(bg2.jpg);
  }

  20% {
    background-image: url(bg3.jpg);
  }

  30% {
    background-image: url(bg4.jpg);
  }

  40% {
    background-image: url(bg5.jpg);
  }

  50% {
    background-image: url(bg6.jpg);
  }

  60% {
    background-image: url(bg7.jpg);
  }

  70% {
    background-image: url(bg8.jpg);
  }

  80% {
    background-image: url(bg9.jpg);
  }

  90% {
    background-image: url(bg10.jpg);
  }

  100% {
    background-image: url(bg11.jpg);
  }
}

@keyframes anim2 {
  from {
    color: #00b7c2;
  }

  to {
    color: transparent;
  }
}